MapReduceProgramming/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Algorithms/.metadata/.plugins/org.eclipse.core.resources/.projects/LinkListIntersection/.markers.snap
*.snap
Algorithms/.metadata/.plugins/org.eclipse.core.resources/.projects/LinkListIntersection/.syncinfo.snap
Algorithms/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources